<!--<main>-->
    <!--<div class="container body-content" id="bg">-->
        <!--<h1 id="title">Categories</h1>-->
        <!--<div class="row" >-->
            <!--<div class="col-md-12" th:each="category : ${categories}">-->
                <!--<header>-->
                    <!--<p>-->
                        <!--<a th:href="@{/category/{id}(id=${category.id})}" th:text="${category.name + ' (' + #sets.size(category.articles) + ')'}">-->
                        <!--</a>-->
                    <!--</p>-->
                <!--</header>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</main>-->

<main>
    <div class="container body-content" id="bg">
        <div id="title" class="col-md-12">
            <h1>All posts</h1>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div th:include="fragments/article-list"></div>
            </div>
            <div th:include="fragments/category-list" class="col-md-2 category-box hidden-sm hidden-xs" ></div>
        </div>
    </div>
</main>

