<main>
    <div class="container body-content" id="bg">
        <div class="row">
            <div id="main" class="col-sm-12">
                <div id="user_info">
                    <img id="profile_pic" th:src="${encodeToString} ? 'data:image/jpeg;base64,'+${encodeToString} : '/pics/profile.png'"/>
                </div>
                <div style="display: inline-block;">
                    <h2 id="test">
                        <span  th:text="${user.fullName}"></span>
                    </h2>

                    <div th:switch="${isFollowed}">
                        <form th:case="false" th:action="@{follow}" method="POST">
                            <button class="btn btn-success">Follow</button>
                        </form>
                        <form th:case="true" th:action="@{unfollow}" method="POST">
                            <button class="btn btn-danger">Unfollow</button>
                        </form>
                    </div>

                </div>
                <div id="profile_content">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <div th:include="fragments/article-list"></div>
            </div>
        </div>
    </div>
</main>
